@import "tailwindcss";

/* Custom scrollbar for story container */
.story-container::-webkit-scrollbar {
  width: 4px;
}

.story-container::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 4px;
}

.story-container::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

.story-container::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}